// https://design.monday.com/03276924d/p/82fe4a-counter
@import "./../shared/commons";
@import "./../shared/typography";

$primary: #0085FF;
$dark: black;
$notification: #F65F7C;
$secondary: white;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  display: inline-block;
  padding: 4px 10px 4px  10px;
  border-radius: 50%;
  text-align: center;

  &.primary {
    background-color: $primary;
    border: $primary 1px solid;
    color: $white
  }

  &.dark {
    background-color: $dark;
    border: $dark 1px solid;
    color: $white
  }

  &.notification {
    background-color: $notification;
    border: $notification 1px solid;
    color: $white
  }

  &.secondary {
    background-color: $secondary;
    border: $primary 1px solid;
    color: $primary
  }

}
