@import "./../commons";
@import "./../typography";

$success: #23b86f;
$error: #f44336;
$info: #e2e227;
$disabled: #c6c6c6;

button {
  outline: none;
  color: #ffffff;
  padding: 12px 24px 12px 24px;
  display: inline-flex;
  border-radius: 30px;
  border: none;
  line-height: 128%;

  &:disabled {
    background-color: $disabled;
  }
}

button.primary {
  background-color: $primary;
}

button.success {
  background-color: $success;
}

button.info {
  background-color: $info;
  color : $dark
}

button.error {
  background-color: $error;
}
