@import "./../commons.scss";

button {
  outline: none;
  color: #ffffff;
  padding: 0.2rem 1rem;
  display: inline-flex;
  border-radius: 15rem;

  &:disabled {
    background-color: $disabled;
    border-color: $disabled;
  }
}

button.primary {
  background-color: $primary;
  border-color: $primary;
}

button.success {
  background-color: $success;
  border-color: $success;
}

button.info {
  background-color: $info;
  border-color: $info;
}

button.error {
  background-color: $error;
  border-color: $error;
}
