//https://design.monday.com/03276924d/p/79dc30-typography/t/888377

$default: #323338;
$asphalt: #676879;
$white: #FFFFFF;
$primary: #0085FF;
$link: #1F76C2;

$main: 32px;
$title: 24px;

html {
  font-family: Roboto, monospace;
}
